.react-router {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  .router-btn {
    width: 120px;
    height: 40px;
    margin-right: 10px;
  }
  .router-info {
    font-size: 18px;
    width: 200px;
    height: 40px;
    border: 1px solid royalblue;
    margin-left: 5px;
    line-height: 40px;
    padding-left: 5px;
  }
}