#life-sycle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  .add-count {
    width: 100px;
    height: 40px;
    margin-right: 20px;
  }
  .count {
    margin-right: 20px;

  }
}